/* ==========================================================================
                                        CSS styles
   ========================================================================== */

   body{
    font-family: 'Open Sans', sans-serif;
    background:#3498db;
    margin: 0 auto 0 auto;  
    width:100%; 
    text-align:center;
    margin: 20px 0px 20px 0px;   
  }
  
  p{
    font-size:12px;
    text-decoration: none;
    color:#ffffff;
  }
  
  h1{
    font-size:1.5em;
    color:#525252;
  }
  
  .box{
    background:white;
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    text-align: center;
    padding:0px 0px 70px 0px;
    border: #2980b9 4px solid; 
    vertical-align: middle;
  }
  
  .FirstName{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  
  .LastName{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }

  .Device{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }

  .OS{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }

  .IssueDescription{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }

  .Submit{
    background:#2ecc71;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #27ae60 1px solid;
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:80px;
    font-weight:800;
    font-size:0.8em;
  }
  
  .Submit:hover{
    background:#2CC06B; 
  }

  .Filter{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:500px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  



.hidden {
    display: none !important;
    visibility: hidden;
}




/* .FilterTickets {
  height:200px;
  width:200px;
} */


    /* <style type="text/css"> */

    /* .Login {
     background-color: #bbb;
     padding: .5em;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     border-radius: 6px;
     color: #fff;
     font-family: 'Oswald';
     font-size: 20px;
     text-decoration: none;
     border: none;
    }
    .Login:hover {
     border: none;
     background: orange;
     box-shadow: 0px 0px 1px #777; */
    /* } */
    /* </style>   */

    

